.card-discussions {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.card-discussions-show-avatar-wrapper {
    height: 32px;
    width: 32px;
}

.card-discussion-delete-btn {
    position: relative;
    top: -1px;

    &:hover {
        color: $blue-600;
    }
}

.avatar-discussion {
    width: 25px;
    height: 25px;
    border-radius: 50%;   /* bulat sempurna */
    object-fit: cover;    /* crop sesuai rasio */
    object-position: center;
}